body{
    background: #333333;
}
#wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    border-color: #333333;
    min-height: 800px;
   border-style: solid;
   border-width: 2px;
   border-color: #333333;
   background: #ffffff;
    //border-style: dotted;
   -webkit-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.75);
box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.75);
}

#banner{
    max-width: 100%;
    height: 100px;
   // border-style: solid;
    background: #abd5;
    position: relative;
}
#banner input{
    width: 300px;
    font-size: 20px;
    color: #0c9dd1;
    border: none;
    
}
input::-webkit-input-placeholder {
    color: #89caef;
}
input:-moz-placeholder {
  color: #b1ddff;
}
input:-ms-input-placeholder {
  color: #0fa1e0;
}
input[placeholder] {
    color:#b1ddff;
}
#placeholder{
  /* all */
	::-webkit-input-placeholder { color:#555; }
	::-moz-placeholder { color:#555; } /* firefox 19+ */
	:-ms-input-placeholder { color:#555; } /* ie */
	input:-moz-placeholder { color:#555; }
}
#buscar{
    position: absolute;
   border-style: solid;
   height: 30px;
   width: 350px;
   left: 30%;
   bottom: 5px;
  
}
#acceso{
    position: absolute;
    right: 0;
    border-style: solid;
    width: 200px;
    height: 50px;
}
#login{
    
    margin-top: 5%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    
    border-style: solid;
    border-width: 1px;
}
#menunavegacion{
    max-width: 100%;
}

#pago_transferencia{
    margin-top: 25px;
    margin-left: 25%;
    
}
#historial{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
#historial table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#historial td{
    
    background-color: #b6eeff;
}
#historial th{
    background-color: #0fa1e0;
}
#historial td,th{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}



#imagen{
    float: left;
    width: 50%;
    
    
}
/*estilo de la tabla del carrito de compra*/

#carrito table{
   margin-top: 15px;
   margin-left: auto;
   margin-right: auto;
   border-collapse: collapse;
  
       
}
#carrito img{
    width: 75px;
    
}
#carrito table td{
    text-align: center;
    border-style: solid;
   
    border-width: 1px;
    padding-left: 50px;
    padding-right: 50px;
}
#producto{
   width: 200px;
}
#divproductos{
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     width: 90%;
}
#tablaproductos{
   border-collapse: separate;
   border-spacing:  10px 20px;
   
   
}
#tablaproductos td:hover{
    background-color: #dee2e2;
    
}
#tablaproductos td{
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    border-color: #4fbcff;
    margin-right: 10%;
    
   
   
}
#titulo{
      margin-top: 15px;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      border-style: solid;
      border-width: 1px;
      padding-bottom: 25px;
   
    
}
#imagen_detalle{
   margin-left: 20%;
    float:left;
    padding-right: 5%;
   
}
#detalle_producto{
    
     //text-align: center;
}
#redes{
   
    //text-align: center;
    
}
#redes table{

}
#detalles{
   height:50%;
        background-color:#DAF7E2;
        float:right;
        width:50%;
}


#texto{
    text-align: center;
    color: #333333;
    text-decoration-color: #0c9dd1;
    font-weight: bold;
  
}





#arriba{
        
        height:10%;
        text-align: center;
}

#izquierda{
        height:50%;
       
        float:left;
        width:50%;
}
#izquierda img{
    max-width: 75%;
    max-height: 75%;
}
#derecha{
        height:50%;
        
        float:right;
        width:50%;
}
#pie{
        height:20%;
        background-color:#D3D1C1;
        clear:both;
}



#paginacion{
    
    text-align: center;
    float: bottom;
   
  
}

#detalle_pago{
    margin-top: 25px;
   
   margin-left: 25%;
}

#contenedor {
    display: table;
    border: 2px solid #000;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
#contenidos {
    display: table-row;
}
#columna1, #columna2, #columna3 {
    display: table-cell;
    border: 1px solid #000;
    vertical-align: middle;
    padding: 10px;
}


//estilo menú de login

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}


#login {	
	//margin-top:20px;
	background-color: #0c9dd1;
	border-radius: 5px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
	color: #FFF;
        width: 100%;
         
}

 #login a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

#login a:hover {
	text-decoration: underline;
        
}

#loginpanel {
	background-color: #0fa1e0; 
	display:none; 
	width: 200px; 
	padding: 10px; 
	position: absolute;
       
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#loginpanel a:hover{
    cursor: pointer;
}

#loginpanel input {
	border: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 18px;
	color: gray;
	font-size: 16px;
	padding: 2px;
	width: 95%;	
	margin: 0 auto;
	margin-bottom: 10px;
        
}

#loginpanel button {
	padding: 5px;
}
#registro_usuario{
    //background-color: #0c9dd1;
    max-width: 35%;;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
   // color: #ffffff;
    font-weight: bold;
}

#registro_usuario input{
   // border:none;
    height: 20px;
    
    
}
#estado_usuario{
    float:right;
}
#estado_email{
    float:right;
}